{% extends "layouts/base.html" %}


{% block title %}
<div>
    <h1>New question</h1>
</div>
{% endblock %}

{% block content %}

<div class="d-grid gap-4 mt-5">
    <div class="row">
        <div class="col-3 align-items-center">
            <h3>Title</h3>
        </div>
        <div class="col-8">
            <input type="text" class="form-control" placeholder="Enter Title">
        </div>
    </div>

    <div class="row">
        <div class="col-3 align-items-center">
            <h3>Text</h3>
        </div>
        <div class="col-8">
            <textarea class="form-control" aria-label="With textarea" style="height: 300px"></textarea>
        </div>
    </div>

    <div class="row">
        <div class="col-3 align-items-center">
            <h3>Tags</h3>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" placeholder="Enter tags">
        </div>
    </div>

    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-success">ASK!</button>
        </div>
    </div>

</div>
{% endblock %}
