{% extends "layouts/base.html" %}


<div class="container mt-3">
    {% block title %}

    <div class="d-flex justify-start align-items-center">
        <h1>New Questions</h1>
        <a href='{% url "index" %}'> Hot questions</a>
    </div>

    {% endblock %}


    <!--    <div class="row">
            <div class="col-9">-->
    {% block content %}


    {% for question in questions %}
    {% include "layouts/question.html" with item=question %}
    {% endfor %}

    {% include "layouts/pagination.html" %}

    {% endblock %}
</div>


<!--    </div>

</div>-->
