{% extends "layouts/base.html" %}

{% block content %}

{% include "layouts/question.html" with item=question %}

<hr>

{% for answer in answers %}
    {% include "layouts/answer.html" with item=answer %}
{% endfor %}

<hr>

<div class="d-flex flex-column gap-3">
                    <textarea class="form-control" aria-label="With textarea"
                              style="width: 100%; height: 300px;"></textarea>
    <span><button type="button" class="btn btn-success">ASK!</button></span>
</div>

{% endblock %}

