{% extends "layouts/base.html" %}

{% block title %}

<div>
    <h1>Registration</h1>
</div>
{% endblock %}

{% block content %}

<div class="d-grid gap-4 mt-5">
    <div class="row">
        <div class="col-3 align-items-center">
            <h3>Login</h3>
        </div>
        <div class="col-6">
            <input type="text" class="form-control"
                   aria-describedby="passwordHelpBlock" placeholder="Enter login">
        </div>
    </div>

    <div class="row">
        <div class="col-3 align-items-center">
            <h3>Email</h3>
        </div>
        <div class="col-6">
            <input type="email" class="form-control" placeholder="Enter email">
        </div>
    </div>

    <div class="row">
        <div class="col-3 align-items-center">
            <h3>Nickname</h3>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" placeholder="Enter nickname">
        </div>
    </div>

    <div class="row">
        <div class="col-3 align-items-center">
            <h3>Password</h3>
        </div>
        <div class="col-6">
            <input type="password" class="form-control"
                   aria-describedby="passwordHelpBlock" placeholder="Enter password">
        </div>
    </div>

    <div class="row">
        <div class="col-3 align-items-center">
            <h3>Repeat password</h3>
        </div>
        <div class="col-6">
            <input type="password" class="form-control"
                   aria-describedby="passwordHelpBlock" placeholder="Enter password">
        </div>
    </div>

    <div class="row">
        <div class="col-3 align-items-center">
            <h3>Upload avatar</h3>
        </div>
        <div class="col-6">
            <input class="form-control" type="file">
        </div>
    </div>

    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="d-flex align-items-center justify-content-between">
                <button type="button" class="btn btn-success">Register!</button>
                <div style="color: red;">Sorry, the email address already registred!</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

