{% extends "layouts/base.html" %}
{% block title %}
<div class="">
    <h1>Settings: Mike Voloshin</h1>
</div>
{% endblock %}

{% block content %}

<div class="d-flex flex-column gap-4">
    <div class="row mt-2">
        <div class="col-3 align-items-center">
            <h3>Login</h3>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" placeholder="Enter login">
        </div>
    </div>

    <div class="row">
        <div class="col-3 align-items-center">
            <h3>Email</h3>
        </div>
        <div class="col-6">
            <input type="email" class="form-control" placeholder="Enter email">
        </div>
    </div>

    <div class="row">
        <div class="col-3 align-items-center">
            <h3>NickName</h3>
        </div>
        <div class="col-6">
            <input type="text" class="form-control" placeholder="Enter nick">
        </div>
    </div>

    <div class="row">
        <div class="col-3 align-items-center">
            <h3>Upload avatar</h3>
        </div>
        <div class="col-6">
            <input class="form-control" type="file">
        </div>
    </div>

    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <button type="button" class="btn btn-success">Save</button>
        </div>
    </div>
</div>
{% endblock %}